body {
    margin: 70px 300px;
    font-family: Andalus;
    font-size:x-large;
    font-weight:bold;
    background-color:lightGrey;
}
[type=text],[type=button]
{
    font-family:'Century Gothic';
    font-size:large;
}

table {
    width: 400px;

}
span{ display:none;}
.nameError,.gradeError,.gradeValue,.captializeName{
    color:red;
    display: block;
}
.deleteImg{
    width: 35px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;   
}
.SD {
    background-color: lightpink;
}

.OS {
    background-color: lightyellow;
}

.EL {
    background-color: lightskyblue;
}