.box1,.box2,.box3{
    width: 100px;
    height: 100px;
    display: inline-block;
    cursor: pointer;
    margin:10px;
}
.box1{
    background-color: red;
}
.box2{
    background-color: green;
}
.box3{
    background-color:blue;
}